<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<% if current_user.username == "csa" %>
    <div class="flex-row-center-center">
        <div class="Create_form">
            <%= form_with url: merch_path, method: :post, class: "d-flex", local: true do |form| %>
                <%= form.text_field :name, placeholder: "Name", class: "form-control", style: "margin-right: 10px;" %>
                <%= form.text_field :price, placeholder: "Price", class: "form-control", style: "margin-right: 10px;" %>
                <%= form.text_field :description, placeholder: "Description", class: "form-control", style: "margin-right: 10px;" %>
                <%= form.submit 'Add Merch', class: "btn btn-success" %>
            <% end %>
        </div>
    </div>
<% end %>

<div class="merch-container">
  <h2>Our Products</h2>
  <div class="product-grid">
    <% @products.each do |product| %>
      <div class="product-card">
        <img src="/BG.jpg" alt="<%= product.name %>" class="product-image">
        <div class="product-info">
          <h3><%= product.name %></h3>
          <p><strong>Price:</strong> $<%= product.price %></p>
          <p><strong>Description:</strong> <%= product.description %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>

