<div class="flex-row-center-center">
    <div class="Create_form">
        <%= form_with url: events_path, method: :post, class: "d-flex", local: true do |form| %>
            <%= form.text_field :Event_name, placeholder: "Create new Event", class: "form-control", style: "margin-right: 10px;" %>
            <%= form.submit 'Create Event', class: "btn btn-success" %>
        <% end %>
    </div>
</div>
<div class="events_container flex-row-start-center" style="overflow-x: auto;">
<div class="events_table flex-row-start-center upcoming_events" style="overflow-x:auto;">
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Upcoming events</div>
        <div class="event_name">class Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Upcoming events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Upcoming events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>
</div>
<div class="events_container flex-row-start-center" style="overflow-x: auto;">
<div class="events_table flex-row-start-center current_events">
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Ongoing events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Ongoing events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Ongoing events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Ongoing events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Ongoing events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Ongoing events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>
</div>
<div class="events_container flex-row-start-center" style="overflow-x: auto;">
<div class="events_table flex-row-start-center completed_events">
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Completed events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Completed events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Completed events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Completed events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Completed events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="event_box flex-column-space-evenly-center">
        <div class="event_name" style="text-decoration: underline">Completed events</div>
        <div class="event_name">Rock Nite</div>
        <div class="flex-row-space-between-center" style="width:80%;">
            <%= link_to "Register", root_path, class: 'btn btn-success' %>
            <%= link_to "Participants", root_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>
</div>