<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Events" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <!-- In the <head> section for Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        background-image: url('https://t4.ftcdn.net/jpg/08/81/17/51/240_F_881175113_IGsJKVJe5lSMggHPDEwMLABC6W7J5Bep.jpg');
        background-image: url('/BG3_enhanced.jpg');
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center top;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      /* Move the background up a little */
      body::before {
        content: "";
        position: absolute;
        top: -50px; /* Adjust this value to move background higher */
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-image: inherit;
        background-size: inherit;
        background-position: center;
        background-repeat: no-repeat;
      }
    </style>
  </head>

  <body>

    <div class="container">
    <!-- Column 1 -->
        <div class="column">
            <div class="heading">Upcoming Events</div>
            <div class="event-box">
                <h2>Event Name 1</h2>
                <p>Time: 10:00 AM</p>
                <button>Register</button>
            </div>
            <div class="event-box">
                <h2>Event Name 2</h2>
                <p>Time: 10:30 AM</p>
                <button>Register</button>
            </div>
            <div class="event-box">
                <h2>Event Name 2</h2>
                <p>Time: 10:30 AM</p>
                <button>Register</button>
            </div>
            <div class="event-box">
                <h2>Event Name 2</h2>
                <p>Time: 10:30 AM</p>
                <button>Register</button>
            </div>
            <div class="event-box">
                <h2>Event Name 2</h2>
                <p>Time: 10:30 AM</p>
                <button>Register</button>
            </div>
            <!-- Add more events as needed -->
        </div>

        <!-- Column 2 -->
        <div class="column">
            <div class="heading">Completed Events</div>
            <div class="event-box">
                <h2>Event Name 3</h2>
                <p>Time: 11:00 AM</p>
                <button>Register</button>
            </div>
            <div class="event-box">
                <h2>Event Name 4</h2>
                <p>Time: 11:30 AM</p>
                <button>Register</button>
            </div>
            <!-- Add more events as needed -->
        </div>

        <!-- Column 3 -->
        <div class="column">
            <div class="heading">Ongoing Events</div>
            <div class="event-box">
                <h2>Event Name 5</h2>
                <p>Time: 12:00 PM</p>
                <button>Register</button>
            </div>
            <div class="event-box">
                <h2>Event Name 6</h2>
                <p>Time: 12:30 PM</p>
                <button>Register</button>
            </div>
            <!-- Add more events as needed -->
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
