<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Csa Website" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <!-- In the <head> section for Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        background-image: url('/cseIITM.jpeg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center top -100px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      @media (max-width: 768px){
        body{
          background-position: center top;
        }
      }

      /* Move the background up a little */
      /* body::before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-image: inherit;
        background-size: inherit;
        background-position: center;
        background-repeat: no-repeat;
      } */

      footer {
        background-color: #262626;
        color: white;
        padding: 10px 20px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 3;
        margin-top: auto;
      }

      .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .footer-left {
        margin: 0;
      }

      .footer-right {
        margin: 0;
      }

      .footer-right a {
        color: #FFD700; /* Goldish color for links */
        text-decoration: none;
      }

      .footer-right a:hover {
        text-decoration: underline;
      }

    </style>
  </head>

  <body>
    <div class="Navigation_bar">
      <div class="Brand"><%= link_to "CSA", root_path %></div>
      <div class="nav_links flex-row-start-center">
        <div class="nav_link"><%= link_to "CS Trophy", cstrophy_path %></div>
        <div class="nav_link"><%= link_to "Events", events_path %></div>
        <div class="nav_link"><%= link_to "Merch", root_path %></div>
        <div class="nav_link"><%= link_to "Feedback", root_path %></div>
      </div>
      <div class="Nav_dropdown">
        <div class="drop-down-button">
          <img class="drop-down-off" src="/three-dots-vertical.svg" height="20px">
        </div>
        <div>
          <div class="drop-down-menu">
            <div class="menu flex-column-start-center">
              <div><img class="drop-down-on" src="/three-dots-horizontal.svg" height="20px"></div>
              <div class="nav_link"><%= link_to "CS Trophy", root_path %></div>
              <div class="nav_link"><%= link_to "Events", events_path %></div>
              <div class="nav_link"><%= link_to "Merch", root_path %></div>
              <div class="nav_link"><%= link_to "Feedback", root_path %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page_margin">
      <%= yield %>
    </div>
    <!-- Footer Section -->
    <footer>
      <div class="footer-container">
        <p class="footer-left">&copy; 2024 My Website. All rights reserved.</p>
        <p class="footer-right">
          <a href="/privacy-policy">Privacy Policy</a> |
          <a href="/terms">Terms of Service</a> |
          <a href="mailto:contact@mywebsite.com">Contact Us</a>
        </p>
      </div>
    </footer>

    <script>
      const ofb = document.querySelector('.drop-down-off');
      const onb = document.querySelector('.drop-down-on');
      const ddm = document.querySelector('.drop-down-menu');
      const nb = document.querySelector('.Navigation_bar');
      onb.style.display = 'none';
      ddm.style.display = 'none';
      ofb.addEventListener('click', function(){
        ofb.style.display = 'none';
        onb.style.display = 'block';
        ddm.style.display = 'block';
        nb.style.background = 'none';
      });
      onb.addEventListener('click', function(){
        onb.style.display = 'none';
        ofb.style.display = 'block';
        ddm.style.display = 'none';
        nb.style.background = 'rgba(0, 0, 0, 0.5)';
      });

    </script>
    <!-- At the end of the <body> section for Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </body>
</html>
